

<body>

<div id="header"> <h1> <%= title %> </h1> </div>


<div id="text-wrap">
<p> I've created this page to help you learn d3, and to make <br/> that happen fast! The first example appends a div element to the body. </p>

<code > d3.select("body").append("div").text("This text made with d3!");
</code> <br/> <br/>

<p> And here's the code at work!! </p>

<div id="code1">  
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.js"> </script>
<script>
var code1 = d3.select("#code1").append("div").text("This text made with d3!");
</script>

</div>



Hopefully to see what we're trying to do here, nothing special, <br/> just creating a div element with some text and appending it to the body. <br>

Now lets do some svg basics. SVG (Scalable Vector Graphics) is a simple and <br>
powerful graphics generator. Here's how to make a line, square, rectanle, <br>
circle and elipse. 

</div>



<script>
	// Set the background color
	function bgColor (color) {
		document.body.style.background = color;
	};

	bgColor("B1E8A9");


	// Style the page up!	
		// Header
	var header = document.getElementById('header');
	var hs = header.style;
	
	hs.position = ('relative');
	hs.backgroundColor = ('white');
	hs.padding = ('1em');
	hs.width = ('60%');
	hs.textAlign = ('center');
	hs.left = ('18%');
	hs.borderRadius = ('.8em');
	
		// Main Content
	var textWrap = document.getElementById('text-wrap');
	var tws = textWrap.style;
	
	tws.backgroundColor = ('white');
	tws.position = ('relative');
	tws.width = ('50%');
	tws.left = ('25%');
	tws.textAlign = ('center');
	tws.borderRadius = ('.8em');
	tws.top = ('1.7em');
	tws.padding = ('.7em');
	tws.paddingBottom = ('2.3em');
	

</script>





</body>