

<body>

	<div id="header"> <h1> <%= title %> </h1> 
	</div>

<!-- 
	<div id="menuBar"> 
		<ul>
			<li> Home </li>
			<li> More Tutorials</li>
			<li> This Code @ Github</li>
			<li> About </li>	
		</ul>
	</div>	

-->


	<div id="text-wrap" style="text-size:19px">
	
	<p> I've created this page to help you learn d3, and to make <br> 
		that happen fast! The first example appends a div element to the body. 
	</p>

	<code > d3.select("body").append("div").text("This text made with d3!");
	</code> 
	
	<br>
	<br>

	<p> And here's the code at work!! </p>

	<div id="code1">  
		
		<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.2/d3.js"> 
		</script>
		<script>
			var code1Append = d3.select("#code1").append("div").text("This text made with d3!");

			var c1 = document.getElementById('code1');
			var c1s = c1.style;

			c1s.paddingBottom('8px');
			c1s.backgroundColor('steelblue');

		</script>

	</div>


	<br>
	Here's the code used: 
	<pre>

var code1 = d3.select("#code1").append("div").text("This text made with d3!");

	</pre>

	Hopefully to see what we're trying to do here, nothing special, <br/> 
	just creating a div element with some text and appending it to the body. <br>

	Now lets do some svg basics. SVG (Scalable Vector Graphics) is a simple and <br>
	powerful graphics generator. Here's how to make a line, square, rectanle, <br>
	circle and ellipse. <br>
	<br>






	<svg width="275" height="50">
	  <circle cx="22" cy="22" r="18" fill="green" />
	  <ellipse cx="80" cy="20" rx="27" ry="14" fill="purple" />
	  <rect x="120" y="8" height="28" width="50" fill="blue" />
	  <rect x="190" y="8" height="30" width="30" fill="red" />
	</svg>



	<br>

	<code id="code1" style="text-align:left">

	<p>

	&lt;svg width="275" height="50"&gt; <br>
	  &lt;circle cx="22" cy="22" r="18" fill="green" /&gt; <br>
	  &lt;ellipse cx="80" cy="20" rx="27" ry="14" fill="purple" /&gt; <br>
	  &lt;rect x="120" y="8" height="28" width="50" fill="blue" /&gt; <br>
	  &lt;rect x="190" y="8" height="30" width="30" fill="red" /&gt; <br>
	&lt;/svg&gt; <br>

	</p>


	

		<pre>

			<svg width="275" height="50">
			  <circle cx="22" cy="22" r="18" fill="green" />
			  <ellipse cx="80" cy="20" rx="27" ry="14" fill="purple" />
			  <rect x="120" y="8" height="28" width="50" fill="blue" />
			  <rect x="190" y="8" height="30" width="30" fill="red" />
			</svg>


		</pre>

</code>



Now let's do the same thing but with d3!

<div id="svgDiv"></div>
<script>
	var svgContainer = d3.select("#svgDiv").append("svg")
											.attr("width", 275)
											.attr("height", 50)

     var circle = svgContainer.append("circle")
     						  .attr("cx", 22)
     						  .attr("cy", 22)
     						  .attr("r", 18)
     						  .attr("fill", "green")
    
     var myEllipse = svgContainer.append("ellipse")
     						  .attr("cx", 80)
     						  .attr("cy", 20)
     						  .attr("rx", 27)
     						  .attr("ry", 14)
     						  .attr("fill", "purple")

     var rect = svgContainer.append("rect")
     						  .attr("x", 120)
     						  .attr("y", 8)
     						  .attr("height", 28)
     						  .attr("width",  50)
     						  .attr("fill", "blue")

     var sqr = svgContainer.append("rect")
     						  .attr("x", 190)
     						  .attr("y", 8)
     						  .attr("height", 30)
     						  .attr("width",  30)
     						  .attr("fill", "red")

</script>

	Now that we've got the basics of SVG's down, we can see where<br>
	d3 gets really powerful, which is making shapes using data! <br>

	To do this, we have to have some data: in the real worl you <br>
	may be getting data from any number of sources, but to star <br>
	we're going to make ourselves an array to begin with. <br>
	Lets start with an array of my golf scores. We can <br>
	do this: var scores = [78, 86, 93, 78, 99, 82, 75, 83, 80] <br>
	No we'll turn this into a bar chart! <br>

	<div id="barChart"></div>
<script>
	var scores = [78, 86, 93, 78, 99, 82, 75, 83, 80]; 
	var width = 600;
	var height = 300;

	var canvas = d3.select("#barChart")
					.append("svg")	
					.attr("width", width)
					.attr("height", height);

	var bars = canvas.selectAll("rect")
					 .data(scores)			
					 .enter()
					 		.append("rect")
					 		.attr("width", 50)
					 		.attr("height", function(d) { return d;})
					 		.attr("x", function(d,i) { return i * 75})
					 		.attr("fill", "green");
</script>
<br>
Now we're rolling! It's upside down, but we'll get to that in a bit.<br>
Let's break down the code a bit. <br>

<br>
<div id="barChart2"></div>
<script>
	var scores = [78, 86, 93, 78, 99, 82, 75, 83, 80]; 
	var width = 600;
	var height = 300;

	var canvas = d3.select("#barChart2")
					.append("svg")	
					.attr("width", width)
					.attr("height", height);

	var bars = canvas.selectAll("rect")
					 .data(scores)			
					 .enter()
					 		.append("rect")
					 		.attr("width", 50)
					 		.attr("height", function(d) { return d;})
					 		.attr("x", function(d,i) { return i * 75})
					 		.attr("y", function(d) { return height - d;})
					 		.attr("fill", "green");
</script>




<p> Ok now we're getting somewhere. <br>
	Now its time to get on to scaling. We've got a graph that works <br>
	Well now for my golf scores, but what if we added a new golfer to <br>
	chart who had MUCH higher scores. That's what scaling is for, so you <br>
	can handle big outliers and eventually do a whole more. 

</p>


<div id="barChart3"></div>


<script>
	var myScores = [78, 86, 93, 78, 99, 82, 75, 83, 80, 160, 183, 200];
	var width = 700;
	var height = 300;

	var heightScale = d3.scale.linear()
					  .domain([0, 200])   // set range of min/max of data
					  .range([0, height]);

	var canvas = d3.select("#barChart3")
					.append("svg")	
					.attr("width", width)
					.attr("height", height);

	var myBars = canvas.selectAll("rect")
					 .data(myScores)			
					 .enter()
					 		.append("rect")
					 		.attr("width", 50)
					 		.attr("height", function(d) { return heightScale(d); })
					 		.attr("x", function(d,i) { return i * 55})
					 		.attr("y", function(d) { return height - d;})
					 		.attr("fill", "green");


</script>





<p> Now its time to work with some grouping and axes! 

</p>


<div id="barChart4"></div>

<script>
	var myScores = [78, 86, 93, 78, 99, 82, 75, 83, 80, 160, 183, 200];
	var width = 700;
	var height = 300;

	var heightScale = d3.scale.linear()
					  .domain([0, 200])   // set range of min/max of data
					  .range([height, 0]);


	var axis = d3.svg.axis()
			   .scale(heightScale)
			   .orient("left");


	var canvas = d3.select("#barChart4")
					.append("svg")	
					.attr("width", width)
					.attr("height", height)
					// place in a group element
					.append("g")
					// move the element
					.attr("transform", "translate(70, 10)");
	
	canvas.append("g")
		.attr("transform", "translate(10, 10)")
		.attr("class", "axis")
		.call(axis);


	var myBars = canvas.selectAll("rect")
					 .data(myScores)			
					 .enter()
					 		.append("rect")
					 		.attr("width", 50)
					 		.attr("height", function(d) { return heightScale(d); })
					 		.attr("x", function(d,i) { return i * 55})
					 		.attr("y", function(d) { return height - d;})
					 		.attr("fill", "green");


</script>





<p> Ok now we've got some basics down, its time to get really rolling.  
</p>

<!-- DOM elements < data elements (enter), > (exit), = (update) -->






<div id="circles1"></div>


<script>
 	
	var data = [10, 20];

 	var canvas = d3.select("#circles1")
 				 .append("svg")
 				 .attr("width", 500)
 				 .attr("height", 200);

 	var myCircle = canvas.append("circle")
 			 	 .attr("cx", 50)
 			 	 .attr("cy", 100)
 			 	 .attr("r", 25);

    var myCircles = canvas.selectAll("circle")
    			 .data(data)
 			 	 .enter()   // more dats elements (10, 20), than DOM elemencts ("circle")
 			 	 	.append("circle")
 			 	 	.attr("fill", "blue")
 			 	 	.attr("cx", 50)
 			 	 	.attr("cy", 50)
 			 	 	.attr("r", 25);

/*
	The opposite situation: only 1 data item and 2 circles that need filling. 
	

 	var data = [10];

 	var canvas = d3.select("#circles1")
 				 .append("svg")
 				 .attr("width", 500)
 				 .attr("height", 500);

 	var myCircle = canvas.append("circle")
 			 	 .attr("cx", 50)
 			 	 .attr("cy", 100)
 			 	 .attr("r", 25);

 	var myCircle = canvas.append("circle")
 			 	 .attr("cx", 50)
 			 	 .attr("cy", 100)
 			 	 .attr("r", 25);

    var myCircles = canvas.selectAll("circle")
    			 .data(data)
 			 	 .attr("fill", "blue")
 			 	 .exit()
 			 	 	.attr("fill", "green");

*/
</script>



<p> Now for a quick look at transitions. In d3 transitions let you <br>
	move objects around and even animate them. 
</p>
<div id="circles2"></div>

<script>


    var canvas = d3.select("#circles2")
 				 .append("svg")
 				 .attr("width", 500)
 				 .attr("height", 500);

 	var circle = canvas.append("circle")
 			 	 .attr("cx", 50)
 			 	 .attr("cy", 100)
 			 	 .attr("r", 35);

 	/* circle.transition()
 			.duration(1300)
 			.delay(200)
 			.attr("cx", 180); */

	circle.transition()
 			.duration(1300)
 			.attr("cx", 250)
 			.transition()
 			.attr("cy", 300)
 			.transition()
 			.attr("cx", 100)
 			.transition()
 			.attr("cy", 100)
 			.each("end", function () { d3.select(this).attr("fill", "green"); });



</script>


<p> Now we're going to take a look at how to work with arrays.  
</p>
<div id="circles3"></div>



<script>


/*
in console you can do data.shift(); and you'll get the first element in the data array

d3 has its own special methods

data.sort(d3.descending);    gives you the array in descending order
d3.min(data);
d3.max(data);
d3.sum(data);
d3.mean(data);
d3.median(data);
d3.shuffle(data);

*/
</script>

<p> Now to get data from other places.  
</p>
<div id="circles4"></div>


<script>

	var data = [{"name": "Tyler", "age": 26}, {"name": "Mary", "age": 34}, {"name": "Steve", "age": 16}];




		var canvas = d3.select("#circles4")
 			 			.append("svg")
 			 			.attr("width", 500)
 			 			.attr("height", 500);


 		canvas.selectAll("rect")
 				.data(data)
 				.enter()
 					.append("rect")
 					.attr("width", function (d) { return d.age * 10; })
 					.attr("height", 47)
 					.attr("y", function (d, i) { return i * 50; })
 					.attr("fill", "blue");

 		canvas.selectAll("text")
 				.data(data)
 				.enter()
 					.append("text")
 					.attr("fill", "white")
 					.attr("y", function (d, i) { return i * 50 + 24; })
 					.text(function (d) { return d.name;});




</script>

<p> Paths allow you to make anything!!  
</p>
<div id="paths1"></div>




<script>

	var data = [{x: 10, y: 22}, {x: 35, y: 60}, {x: 50, y: 76}];

	var canvas = d3.select("#paths1")
 			 			.append("svg")
 			 			.attr("width", 500)
 			 			.attr("height", 500);


	var group = canvas.append("g")
			.attr("transform", "translate(90, 90)");

	var line = d3.svg.line()
			.x(function (d) { return d.x; })
			.y(function (d) { return d.y; });

	group.selectAll("path")
			.data([data])
			.enter()
			.append("path")
			.attr("d", line)
			.attr("fill", "none")
			.attr("stroke", "#000")
			.attr("stroke-width", 10);


</script>


<p> Arcs!!  
</p>
<div id="arcs"></div>




<script>


	var canvas = d3.select("#arcs")
 			 			.append("svg")
 			 			.attr("width", 500)
 			 			.attr("height", 500);


	var group = canvas.append("g")
			.attr("transform", "translate(110, 110)");

	var r = 100;
	var p = Math.PI * 2;

 	var arc = d3.svg.arc()
 			.innerRadius(r - 20)
 			.outerRadius(r)
 			.startAngle(0)
 			.endAngle(p - 2.3);

 	group.append("path")
 			.attr("d", arc);


</script>


<p> Making a donut chart!
</p>
<div id="arcChart"></div>




<script>


	var data = [10, 40, 90];
	var r = 250;

	var canvas = d3.select("#arcChart")
 			 			.append("svg")
 			 			.attr("width", 800)
 			 			.attr("height", 800);

 	var color = d3.scale.ordinal()
 				.range(["blue", "red", "green"]);

	var group = canvas.append("g")
			.attr("transform", "translate(300, 300)");

	var arc = d3.svg.arc()
			  .innerRadius(150)   // set to 0 to make a full pie chart!!!!
			  .outerRadius(r);
	

	var pie = d3.layout.pie()		  
			  .value(function (d) { return d; });	

	var arcs = group.selectAll(".arc")    
				.data(pie(data))
				.enter()
				.append("g")         // each arc gets is own group!
				.attr("class", "arc");

	arcs.append("path")
		.attr("d", arc)
		.attr("fill", function (d) { return color(d.data); });


	arcs.append("text")
		 .attr("transform", function (d) { return "translate(" + arc.centroid(d) + ")"; })
		 .attr("text-anchor", "middle")
		 .attr("font-size", "1.65em")
		 .text(function (d) { return d.data; });




</script>


<p> Using diagonals (fancy lines):
</p>
<div id="diagonal1"></div>




<script>


	var canvas = d3.select("#diagonal1")
 			 			.append("svg")
 			 			.attr("width", 800)
 			 			.attr("height", 800);


 	var diagonal = d3.svg.diagonal()
 				.source({x:10, y:15})
 				.target({x: 450, y: 200});


	 	canvas.append("path")
 				.attr("fill", "none")
 				.attr("stroke", "black")
 				.attr("d", diagonal);



</script>



<p> Making a data tree!! This is reall a combination: <br>
	of diagonals and rectangles, thought the rectangles could be <br>
	any shape. 
</p>
<div id="tree1"></div>




<script>


	var data = {"name": "Rojo",
					 "children": [
					 {
					 	"name": "Elvis",
					 	"children": [
						 {"name": "Beats"},
						 {"name": "Idol"},
						 {"name": "Bruce"},
						]
					  },
					 {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "size": 5},
					 	{"name": "Zeppelin", "size": 4}

					 	]
					 }
				   ]
				};


	var canvas = d3.select("#tree1")
 			 			.append("svg")
 			 			.attr("width", 600)
 			 			.attr("height", 600)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var tree = d3.layout.tree()
 				.size([450, 450]);

 	var nodes = tree.nodes(data);
 		
 	var links = tree.links(nodes);

 	var node = canvas.selectAll(".node")
 				.data(nodes)
 				.enter()
 				.append("g")
 					.attr("class", "node")
 					// lay rectangles out acording to the location!
 					.attr("transform", function (d) { return "translate(" + (d.x -7) + "," + d.y + ")"; });

 	node.append("rect")
 			  .attr("height", 14)
     		  .attr("width",  14)
     		  .attr("x", 0)
     		  .attr("fill", "steelblue");

    node.append("text")
     			.text(function (d) {return d.name; })
     			.attr("x", 15)
     			.attr("y", 12);

    var diagonal = d3.svg.diagonal();

    
    canvas.selectAll(".link")
    		.data(links)
    		.enter()
    		.append("path")
    		.attr("class", "link")
    		.attr("fill", "none")
    		.attr("stroke", "#ADADDD")
    		.attr("d", diagonal);

     canvas.selectAll("")


 	//	console.log(links);



</script>



<p> Now to make one horizontally! <br>
	
</p>
<div id="tree2"></div>




<script>


// to rotate to horizonal! 
// Step 1 flip d.x and d.y in the 'node' variable
// Step 2 add .projection to the var diagonal!


	var data = {"name": "Rojo",
					 "children": [
					 {
					 	"name": "Elvis",
					 	"children": [
						 {"name": "Beats"},
						 {"name": "Idol"},
						 {"name": "Bruce"},
						]
					  },
					 {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "size": 5},
					 	{"name": "Zeppelin", "size": 4}

					 	]
					 }
				   ]
				};


	var canvas = d3.select("#tree2")
 			 			.append("svg")
 			 			.attr("width", 600)
 			 			.attr("height", 600)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var tree = d3.layout.tree()
 				.size([450, 450]);

 	var nodes = tree.nodes(data);
 		
 	var links = tree.links(nodes);

 	var node = canvas.selectAll(".node")
 				.data(nodes)
 				.enter()
 				.append("g")
 					.attr("class", "node")
 					// lay rectangles out acording to the location!
 					.attr("transform", function (d) { return "translate(" + (d.y - 5) + "," + (d.x - 7) + ")"; });

 	node.append("rect")
 			  .attr("height", 14)
     		  .attr("width",  14)
     		  .attr("fill", "steelblue");

    node.append("text")
     			.text(function (d) {return d.name; });

    var diagonal = d3.svg.diagonal()
 				.projection(function (d) { return [d.y, d.x]; });


 //     default value  .projection(function (d) { return [d.x, d.y]; });

    
    canvas.selectAll(".link")
    		.data(links)
    		.enter()
    		.append("path")
    		.attr("class", "link")
    		.attr("fill", "none")
    		.attr("stroke", "#ADADDD")
    		.attr("d", diagonal);

     canvas.selectAll("")


 	//	console.log(links);



</script>



<p> Cluster layout time. They are almost identical except <br>
	when you have a high branch with no children, the cluster  <br>
	branch brings that high branch to the bottom  <br>
</p>
<div id="tree2"></div>




<script>


// to rotate to horizonal! 
// Step 1 flip d.x and d.y in the 'node' variable
// Step 2 add .projection to the var diagonal!


	var data = {"name": "Rojo",
					 "children": [
					 {
					 	"name": "Elvis",
					 	"children": [
						 {"name": "Beats"},
						 {"name": "Idol"},
						 {"name": "Bruce"},
						]
					  },
					 {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "size": 5},
					 	{"name": "Zeppelin", "size": 4}

					 	]
					 }
				   ], 
				  "name": "Jimi"

				};


	var canvas = d3.select("#tree2")
 			 			.append("svg")
 			 			.attr("width", 600)
 			 			.attr("height", 600)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var tree = d3.layout.tree()
 				.size([450, 450]);

 	var nodes = tree.nodes(data);
 		
 	var links = tree.links(nodes);

 	var node = canvas.selectAll(".node")
 				.data(nodes)
 				.enter()
 				.append("g")
 					.attr("class", "node")
 					// lay rectangles out acording to the location!
 					.attr("transform", function (d) { return "translate(" + (d.y - 5) + "," + (d.x - 7) + ")"; });

 	node.append("rect")
 			  .attr("height", 14)
     		  .attr("width",  14)
     		  .attr("fill", "steelblue");

    node.append("text")
     			.text(function (d) {return d.name; });

    var diagonal = d3.svg.diagonal()
 				.projection(function (d) { return [d.y, d.x]; });


    
    canvas.selectAll(".link")
    		.data(links)
    		.enter()
    		.append("path")
    		.attr("class", "link")
    		.attr("fill", "none")
    		.attr("stroke", "#ADADDD")
    		.attr("d", diagonal);

     canvas.selectAll("")





</script>


<p> Here's the same thing only smaller before we change it <br>
	to a cluster style. <br>
<div id="tree3"></div>

<script>


// to rotate to horizonal! 
// Step 1 flip d.x and d.y in the 'node' variable
// Step 2 add .projection to the var diagonal!


	var data = {
				"name": "Rojo",
				"value": "36",
				"children": [
				{
					"name": "Elvis",
					"value": 54,
					"children": [
					    {"name": "Beats"},
						{"name": "Idol"},
						{"name": "Bruce"},
					   ]
				},
			    {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "size": 5},
					 	{"name": "Zeppelin", "size": 4}
					   ]
				},
				{
					"name": "Jimi",
					"value": 67
				 }
			   ] 
			  };


	var canvas = d3.select("#tree3")
 			 			.append("svg")
 			 			.attr("width", 600)
 			 			.attr("height", 500)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var tree = d3.layout.tree()
 				.size([200, 250]);

 	var nodes = tree.nodes(data);
 		
 	var links = tree.links(nodes);

 	var node = canvas.selectAll(".node")
 				.data(nodes)
 				.enter()
 				.append("g")
 					.attr("class", "node")
 					// lay rectangles out acording to the location!
 					.attr("transform", function (d) { return "translate(" + d.y + "," + (d.x) + ")"; });

 	node.append("circle")
 			  .attr("r", 6)
     		  .attr("fill", "red");

    node.append("text")
     			.text(function (d) {return d.name; });

    var diagonal = d3.svg.diagonal()
 				.projection(function (d) { return [d.y, d.x]; });


    
    canvas.selectAll(".link")
    		.data(links)
    		.enter()
    		.append("path")
    		.attr("class", "link")
    		.attr("fill", "none")
    		.attr("stroke", "#ADADDD")
    		.attr("d", diagonal);







</script>

<p> And here's the cluster!<br>
	 <br>
<div id="tree4"></div>

<script>


// to rotate to horizonal! 
// Step 1 flip d.x and d.y in the 'node' variable
// Step 2 add .projection to the var diagonal!


	var data = {
				"name": "Rojo",
				"value": "36",
				"children": [
				{
					"name": "Elvis",
					"value": 54,
					"children": [
					    {"name": "Beats"},
						{"name": "Idol"},
						{"name": "Bruce"},
					   ]
				},
			    {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "size": 5},
					 	{"name": "Zeppelin", "size": 4}
					   ]
				},
				{
					"name": "Jimi",
					"value": 67
				 }
			   ] 
			  };


	var canvas = d3.select("#tree4")
 			 			.append("svg")
 			 			.attr("width", 600)
 			 			.attr("height", 500)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var tree = d3.layout.cluster()
 				.size([200, 250]);

 	var nodes = tree.nodes(data);
 		
 	var links = tree.links(nodes);

 	var node = canvas.selectAll(".node")
 				.data(nodes)
 				.enter()
 				.append("g")
 					.attr("class", "node")
 					// lay rectangles out acording to the location!
 					.attr("transform", function (d) { return "translate(" + d.y + "," + (d.x) + ")"; });

 	node.append("circle")
 			  .attr("r", 6)
     		  .attr("fill", "red");

    node.append("text")
     			.text(function (d) {return d.name; });

    var diagonal = d3.svg.diagonal()
 				.projection(function (d) { return [d.y, d.x]; });


    
    canvas.selectAll(".link")
    		.data(links)
    		.enter()
    		.append("path")
    		.attr("class", "link")
    		.attr("fill", "none")
    		.attr("stroke", "#ADADDD")
    		.attr("d", diagonal);







</script>

<p> Now for the pack layout</p> <br>

<div id="cluster"></div>



<script>

		var data = {
				"name": "Rojo",
				"value": 100,
				"children": [
				{
					"name": "Elvis",
					"value": 85,
					"children": [
					    {"name": "Beats", "value": 75},
						{"name": "Idol", "value": 67},
						{"name": "Bruce", "value": 78}
					   ]
				},
			    {
					 	"name": "Wolf/Waters",
					 	"children": [
					 	{"name": "Stones", "value": 75},
					 	{"name": "Zeppelin", "value": 84}
					   ]
				},
				{
					"name": "Jimi",
					"value": 87
				 }
			   ] 
			  };

	
	var width = 800;
	var height = 600;


	var canvas = d3.select("#cluster")
 			 			.append("svg")
 			 			.attr("width", width)
 			 			.attr("height", height)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var pack = d3.layout.pack()
 			.size([width, height - 60])
 			.padding(10);

 	var nodes = pack.nodes(data);

    var node = canvas.selectAll(".node")
    		.data(nodes)
    		.enter()
    		.append("g")
    		.attr("class", "node")
    		.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

    node.append("circle")
    	.attr("r", function (d) { return d.r; }) 
    	.attr("fill", "red")
    	.attr("opacity", .3)
    	.attr("stroke", "#ADADAG")
    	.attr("stroke-width", "2");

    node.append("text")
    	.text(function (d) { return d.name; });
    //  show only if they don't have children	.text(function (d) { return d.children ? "" : d.name; });

</script>


<p> Bubble layout</p> <br>

<div id="bubble"> </div>




<script>

		var data = {
				"name": "Rojo",
				"value": 100,
				"children": [	
					    {"name": "Beats", "value": 25},
						{"name": "Idol", "value": 67},
						{"name": "Bruce", "value": 78},
					 	{"name": "Stones", "value": 5},
					 	{"name": "Zeppelin", "value": 84},
					 	{"name": "Jimi", "value": 17}
			   ] 
			  };

	
	var width = 800;
	var height = 600;


	var canvas = d3.select("#bubble")
 			 			.append("svg")
 			 			.attr("width", width)
 			 			.attr("height", height)
 			 			.append("g")
 			 				.attr("transform", "translate(50, 40)");

 	var pack = d3.layout.pack()
 			.size([width, height - 60])
 			.padding(10);

 	var nodes = pack.nodes(data);

    var node = canvas.selectAll(".node")
    		.data(nodes)
    		.enter()
    		.append("g")
    		.attr("class", "node")
    		.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });

    node.append("circle")
    	.attr("r", function (d) { return d.r; }) 
    	.attr("fill", function (d) { return d.children ? "white" : "red"; })
    	.attr("opacity", .3)
    	.attr("stroke", function (d) { return d.children ? "white" : "red";})
    	.attr("stroke-width", "2");

    node.append("text")
			.text(function (d) { return d.children ? "" : d.name; });

</script>
</div>

<script>
	// Set the background color
	function bgColor (color) {
		document.body.style.background = color;
	};

	bgColor("#3888C6");

	var menuBar = document.getElementById('header');


	// Style the page up!	
		// Header
	var header = document.getElementById('header');
	var hs = header.style;
	
	hs.position = ('relative');
	hs.backgroundColor = ('white');
	hs.padding = ('1em');
	hs.width = ('60%');
	hs.textAlign = ('center');
	hs.left = ('18%');
	hs.borderRadius = ('.8em');
	

/*	var menuBar = document.getElementById('menuBar');
    var mbs = menuBar.style;

	mbs.backgroundColor = ('white');
	mbs.position = ('relative');
	mbs.maxHeight = ('30px');
	mbs.width = ('60%');
	mbs.left = ('15%');
	mbs.float = ('left'); */

		// Main Content
	var textWrap = document.getElementById('text-wrap');
	var tws = textWrap.style;
	
	tws.backgroundColor = ('white');
	tws.position = ('relative');
	tws.width = ('82.5%');
	tws.left = ('7.5%');
	tws.textAlign = ('center');
	// tws.fontFamily('helvetica');
	tws.borderRadius = ('10px');
	tws.top = ('1.7em');
	tws.marginTop = ('20px');
	tws.padding = ('.7em');
	tws.paddingTop = ('20px');
	tws.paddingBottom = ('2.3em');


	

	

</script>


<style type="text/css"> #menuBar li { float: left; width: 25%; } </style>


</body>