

<body>
<div id="text-wrap">
<h1> <%= title %> </h1>
<p> I've created this page to help you learn d3, and to make <br/> that happen fast! The first example appends a div element to the body. </p>

<code> d3.select("body").append("div").text("This text made with d3!");
</code> <br/> <br/>


You should be able to see what we're trying to do here, nothing special, <br/> just creating a div element with some text and appending it to the body. 
</div>

<script>
	function bgColor (color) {
		document.body.style.background = color;
	};
	bgColor("green");
</script>





</body>